<!DOCTYPE html>
<html lang="en">

<head>
  <title>ReanBot WebService</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="/static/js/controller.js"></script>
</head>

<body>
  <div class="jumbotron text-center" ng-app="app">
    <h1>ReanBot WebService</h1>
    <br>
    <p>
      Looks like you are lost!
    </p>
  </div>
</body>

</html>